{% extends 'base.html' %} 
{% load static %}

{% block title %}Add Product{% endblock title %}

{% block content %}
<div class="container" style="width: 800px">
<!--Section: Contact v.2-->
<section class="mb-4">
  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold text-center my-4">Add Product</h2>
        <form
          id="contact-form"
          name="contact-form"
          method="post"
          enctype="multipart/form-data"
        >
        {% csrf_token %}
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <label for="ProductCategory" class="">Product Category</label>
                <select class="form-control" name="category" id="ProductCategory">
                    {% for i in category %}
                        <option value="{{i.id}}" selected="selected">{{i.categoryName}}</option>
                    {% endfor %}
                </select>
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <label for="ProductBrand" class="">Product Brand</label>
                <input
                  type="text"
                  id="ProductBrand"
                  name="brand"
                  class="form-control"
                />
              </div>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
  
          <br />
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <label for="ProductName" class="">Product Name</label>
                <input
                  type="text"
                  id="ProductName"
                  name="name"
                  class="form-control"
                />
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <label for="ProductImage" class="">Product Image</label>
                <input
                  type="file"
                  id="ProductImage"
                  name="image"
                  class="form-control"
                />
              </div>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
  
          <br />
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-md-4">
              <div class="md-form mb-0">
                <label for="ProductOriginalPrice" class="">Product Original Price</label>
                <input
                  type="number"
                  id="ProductOriginalPrice"
                  name="price"
                  class="form-control"
                />
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-4">
              <div class="md-form mb-0">
                <label for="ProductSellingPrice" class="">Product Selling Price</label>
                <input
                  type="number"
                  id="ProductSellingPrice"
                  name="sprice"
                  class="form-control"
                />
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4">
                <div class="md-form mb-0">
                  <label for="ProductQuantity" class="">Product Quantity</label>
                  <input
                  type="number"
                  id="ProductQuantity"
                  name="quantity"
                  class="form-control"
                />
                </div>
              </div>
              <!--Grid column-->
          </div>
          <!--Grid row-->
  
          <br />
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-md-12">
              <div class="md-form">
                <label for="ProductDescription">Product Description</label>
                <textarea
                  type="text"
                  id="ProductDescription"
                  name="message"
                  rows="2"
                  class="form-control md-textarea"
                ></textarea>
              </div>
            </div>
          </div>
          <br/>
          <div class="text-center text-md-left">
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
          <!--Grid row-->
        </form>
</section>
<!--Section: Contact v.2-->
</div>
{% if message %}
<script>alert("{{message}}")</script>
{% endif %}
{% endblock content %}
