{% extends 'base.html' %}
{% load static %}

{% block title %}
    Change Password
{% endblock %}

{% block extra_head %} 
<style>
    .bg-color{
        background-color: #f9fbfd;
        font-family: Arial, Helvetica, sans-serif;
    }
    .btn-rounded{
        border-radius: 30px;
    }
</style>
{% endblock %}

{% block content %}
    <section class="container mt-5">
        <div class="row justify-content-md-center">
            <form class="col-md-6 col-sm-12 bg-white p-5 rounded shadow" method="POST">
                {% csrf_token %}
                <div class="col-12 text-center">
                    <h3 class="text-primary"><strong>Change Password</strong></h3>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Old Password</label>
                    <input type="password" class="form-control" id="password" name="oldPass">
                </div>
                <div class="mb-3">
                    <label for="newpass" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="newpass" name="newPass">
                </div>
                <div class="mb-3">
                    <label for="newpass1" class="form-label">Confirm New Password</label>
                    <input type="password" class="form-control" id="newpass1" name="newPass1">
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary btn-rounded w-75">Submit</button>
                </div>
            </form>
        </div>
    </section>
    {% if message %}<script>alert("{{message}}")</script>{% endif %}
{% endblock %}