{% extends 'base.html' %}
{% load static %}

{% block title %}
    Shipping
{% endblock %}

{% block content %}
<div class="container" style="width: 800px">
<!--Section: Contact v.2-->
  <section class="mb-4">
          <h5 class="h1-responsive font-weight-bold text-center my-4">Biling details</h5>
          <form method='POST'>
            {% csrf_token %}
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" name='name' id="form7Example1" class="form-control" value="{{data.userName}}"/>
                  <label class="form-label" for="form7Example1">Name</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" name='phone' id="form7Example2" class="form-control" value="{{data.userPhone}}"/>
                  <label class="form-label" for="form7Example2">Phone number</label>
                </div>
              </div>
            </div>

            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" name='email' id="form7Example1" class="form-control" value="{{data.userEmail}}"/>
                  <label class="form-label" for="form7Example1">Your email</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" name='amount' id="form7Example2" class="form-control" value="{{finalAmount}}" readonly/>
                  <label class="form-label" for="form7Example2">Order amount</label>
                </div>
              </div>
            </div>

            <div class="form-outline mb-4">
              <input type="text" name='address' id="form7Example4" class="form-control" value="{{data.userAddress}}"/>
              <label class="form-label" for="form7Example4">Address</label>
            </div>
 
            <div class="text-center text-md-left">
              <button type="submit" class="btn btn-primary">Proceed</button>
            </div>
          </form>
  </section>
<!--Section: Contact v.2-->
</div>
{% if message %}
  <script>alert("{{message}}")</script>
{% endif %}
{% endblock %}